@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Times New Roman", Georgia, Serif;
$body-background: #6E65EA;

$wrapper-background: rgba(235, 227, 83, 0.803);
$wrapper-width: 900px;

$spacing-unit:     30px;
$margin-center: 0 auto;

$background-image: url("back.jpg");

$rounded-corners: 10px;

$hover-color: #e2d0d0;

$author-width: 200px;

$img-width: 250px;

$on-laptop: 800px;

$on-phone: 600px;

$footer-color: #ffffffd2;

@mixin link-style {
  a:link, a:visited, a:active {
      text-decoration: none;
      color: rgb(4, 4, 4);
  }

 
}



// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@media screen and (max-width: 800px){
  .site-header {
    height: 150px;
  }
  
  .author {
    display: none;
  }
  
   
  
  
}