@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-background: #6E65EA;

$wrapper-background: rgba(235, 227, 83, 0.803);
$wrapper-width: 900px;

$spacing-unit:     30px !default;
$margin-center: 0 auto;

$background-image: url("back.jpg");

$rounded-corners: 10px;

$hover-color: #e2d0d0;

$author-width: 200px;

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
