.post-meta {
    font-size: 14px;
    font-style: italic;
}

.post-header {
    h1 {
        margin: 0;
        padding: 0;
    }
    margin-bottom: $spacing-unit / 2;
}


.post-content {
    h3 {
        color: rgb(119, 33, 112)
    }
}

.post-list {
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
    }
    hr {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 50px;
        list-style-type: none;
    }


    @include link-style;

}

.text {
    overflow: auto;
}

@mixin img-box {
    border: 2px solid;
    float: right;
    clear: right;
    margin: 10px;
    max-width: $img-width;
     img {
         max-width: $img-width;
     }
}


.box1 {
    @include img-box;
    }

    .box2 {
        @include img-box;
    }




.footer {
    padding: $spacing-unit;
    background-color: $footer-color;

    a:link, a:visited, a:active {
        text-decoration: none;
        color: rgba(105, 33, 220, 0.851);
    }

  a:hover {
    color: rgba(30, 5, 73, 0.851);
   }

    ul {
        list-style: none;
    }
}
.contact-list {
        float: left;
        margin-right: 50px; 

        }

  